.box_main{
    height: 100px;
    width: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    text-align: center;
    width: 500px;
}

a{
    font-size: 20px;
}


@media (max-width: 400px){
.box_main {
    width: 250px;
    height: 150px;
}

h1{
    width: 300px;
}
}