@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    height: 100%;
    background-image: url(./assets/london.jpg);
    background-size: cover;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    backdrop-filter: blur(5px);
}

h1{
    margin-bottom: 25px;
    text-align: center;
    width: 400px;
}

.box{
    width: 400px;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.box_main{
    height: 350px;
    width: 400px;
    background-color: rgb(238, 232, 232);
    padding: 40px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 0 0 10px 1px black;
}

form{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.boxexe{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;
}

a{
    margin-left: 5px;
    text-decoration: none;
    color: rgb(27, 27, 179);
}

.box_center{
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(-120px);
}

#box_wrapper{
    margin-top: 50px;
}

.circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgb(184, 184, 255);
    border: 5px solid black;
    box-shadow: 0 0 10px 1px black;
    position: absolute;
    background-image: url(./assets/download-removebg-preview.png);
    background-size: cover;
}

a:hover{
    text-decoration: underline;
}

.boxik{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type = submit], input[type = button]{
    padding: 5px;
    color: white;
    background-color: black;
    box-shadow: 0 0 10px 1px black;
    border-radius: 8px;
    border: 2px solid black;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    width: 300px;
    height: 50px;
}

label{
    transform: translateY(-50px);
    transition: 0.3s;
    font-size: 20px;
}

input[type = text], input[type = password]{
    z-index: 1;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    transition: 1s;
    background-color: transparent;
    font-size: 15px;
    padding-bottom: 5px;
}

.box input[type = text]:focus ~ label, .box input[type = password]:focus ~ label{
    transform: translateY(-60px);
}


@media all and (max-width: 400px){
    .box_main{
        width: 250px;
    }
    .box{
        width: 100%;
    }
    .boxexe{
        width: 310px;
    }
    form{
        display: flex;
        align-items: center;
    }
}